.container {
  display: flex;
  width: 100%;
  min-height: 100dvh;
  justify-content: center;
  align-items: center;
  background-color: hsl(0, 92%, 28%);
  color: white;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  gap: 1rem;
  max-width: 400px;
}

.form p {
  font-size: 3rem;
}

.input {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.25rem;
}

.input label {
  font-size: 1rem;
}

.input input {
  width: 100%;
  font-size: 1rem;
  padding: 1em;
  background-color: white;
  border: none;
}

.form button {
  width: 100%;
  font-size: 1rem;
  padding: 1rem;
  border-radius: 2em;
  border: none;
  background-color: #e5c680;
  font-weight: 600;
  cursor: pointer;
}
